.nav-bar {
    button.kep-login-facebook.metro {
      padding: 8px;
    }

    &__left {
      display: flex;

      button {
        &:hover {
          text-decoration: none;
          color: #FFAF30 !important;
        }
      }
    }
}